.parentContainer {
    position: relative;
    text-align: right;
    color: white;
}

.header-pic {
    height: 100%;
    width: 100%;
}

.header-title {
    position: absolute;
    width: 525px;
    top: 250px;
    right: 350px;
    color: #FFF;
    text-align: right;
    font-family: Work Sans;
    font-size: 65px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.header-description {
    width: 525px;
    color: #FFF;
    text-align: right;
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    margin-top: 50px;
    margin-bottom: 50px;
}

.header-btn {
    width: 160px;
    height: 64px;
    border-radius: 5px;
    color: #005FAC;
    text-align: right;
    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-align: center;
}

.main-div {
    padding: 100px;
    align-items: center;
    justify-content: space-around;
    display: flex;
}

.main-pic {
    margin-left: 200px;
    width: 500px;
    height: 650px;
}

.main-list {
    margin-right: 500px;
    list-style-type: none;
    color: var #444343;
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;

}

.main-div-two {
    position: relative;
    text-align: left;
    align-items: center;
    justify-content: center;
}

.main-title {
    color: var #151414;
    font-family: Work Sans;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.main-description {
    width: 416px;
    color: var #444343;
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

.main-title-two {
    text-align: center;
    color: #151414;
    text-align: center;
    font-family: Work Sans;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.icons {
    padding: 0px 300px;
    display: flex;
    gap: 200px;
    align-items: center;
    justify-content: center;
}

.pickgradient {
    margin: 10px 350px 0;
    position: relative;
    width: 1140px;
    height: 300px;
    flex-shrink: 0;
    background-image: url('../pictures/gradient1.png'), url('../pictures/watch.png');
}

.pick-text {
    padding: 50px 0 0 50px;
    width: 459px;
    color: #FFF;
    font-family: Work Sans;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.pick-btn {
    margin-left: 50px;
    width: 160px;
    height: 64px;
    border-radius: 5px;
    color: #005FAC;
    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}


/* footer design  */

.footer {
    display: inline-block;
    margin: 100px 0 0;
    width: 100%;
    height: 577px;
    background-color: #151414;
    color: #fff;  
}

.parent {
    margin: 100px 200px 100px;
    padding: 2rem 2rem;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
  }
  .child {
    display: inline-block;
    padding: 1rem 1rem;
    justify-content: space-between;
    
  }
 
